files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDVjCCAj4CCQDeAZ7RZiqocTANBgkqhkiG9w0BAQUFADBtMQswCQYDVQQGEwJV
      UzESMBAGA1UECAwJV2lzY29uc2luMRAwDgYDVQQHDAdNYWRpc29uMQswCQYDVQQK
      DAJOQTELMAkGA1UECwwCTkExCzAJBgNVBAMMAk5BMREwDwYJKoZIhvcNAQkBFgJO
      QTAeFw0yMjAzMjMyMjA1MDFaFw0yMzAzMjMyMjA1MDFaMG0xCzAJBgNVBAYTAlVT
      MRIwEAYDVQQIDAlXaXNjb25zaW4xEDAOBgNVBAcMB01hZGlzb24xCzAJBgNVBAoM
      Ak5BMQswCQYDVQQLDAJOQTELMAkGA1UEAwwCTkExETAPBgkqhkiG9w0BCQEWAk5B
      MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAviakb8Z6JL84oJ2q8f3f
      eboHXbVmC6+GHnT/TpNugU2Va1N6dnEO68eXAOr8GJeun2t/LVlXCj7ZJpET7fg8
      SS2xDgeYFpl64hbXyxkx9FpzFuwfh+6jLAOP4T5DKhT5IwMZOLCl3JhTBLRZ4MRx
      iyfypayOWLYW0NDBoA0m1qpfM/NfO23XKO4PZA1cfgjio1Z6Jbhn7evDXpXTTAGk
      h7mQzzaSsvIqd96aMKJgbMCYEX1WIa1PwrfdNx8lRl2mbaY6t481qBs1sw5GUvli
      XAKVFZdi0pbHO07smWwWpUHk2WDpdvsmNn289OHrg1VnP6QtNbs8XCTkJCTV9mCP
      IwIDAQABMA0GCSqGSIb3DQEBBQUAA4IBAQBQd9E4cNfTDmRLCnBi+ApJLK+DYKTJ
      rDXTkeVzwJadIyMZj7Q4mQZhsCGmLQ95FRqW6AQLD/XG7MgJXhYS+eU0FCa/6eVC
      gYtXy4rydIbId6rFxEIlK8olhh4BP1WjX+F6kDMnu/cJ3xAZ8hn9tOoRnwA1LxI3
      plPXXmHKpgdQr4iEkhg4UxpwQzwBOpLv7q2lAkpFC5rBI4fc0HALvDSOS/7oMuwW
      j3tbcRMrktBqe+0ydsmC0O7RdRKyHOHGt0xnTv9cyGUyXQ613rIbAWi5B49hrz5s
      w4rCZEHnvNUZwbDZSudEuj20398kTOxBclgL0bMqU65oTneIlzZuI7xr
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEogIBAAKCAQEAviakb8Z6JL84oJ2q8f3feboHXbVmC6+GHnT/TpNugU2Va1N6
      dnEO68eXAOr8GJeun2t/LVlXCj7ZJpET7fg8SS2xDgeYFpl64hbXyxkx9FpzFuwf
      h+6jLAOP4T5DKhT5IwMZOLCl3JhTBLRZ4MRxiyfypayOWLYW0NDBoA0m1qpfM/Nf
      O23XKO4PZA1cfgjio1Z6Jbhn7evDXpXTTAGkh7mQzzaSsvIqd96aMKJgbMCYEX1W
      Ia1PwrfdNx8lRl2mbaY6t481qBs1sw5GUvliXAKVFZdi0pbHO07smWwWpUHk2WDp
      dvsmNn289OHrg1VnP6QtNbs8XCTkJCTV9mCPIwIDAQABAoIBADpbP6HyJrA6Y1Wf
      rcPgpwIDnpkav7ucXavhOi1SP9q9BbtPfkj1P6AKvAQTGdUuT/ArHHe9cGH7kcct
      RRGGWnIW7LyihgGBjt3uJsH09IjKbYG+a5rbGQa7/R8ibZhvoVombEoipHSD5w6N
      jvvVLgeH9gb0YydEktH5D0NgZegBD1XJbd2vwZboCt2v4Tuvb2DnvSVrB+TtWLIx
      Z+ClVxPKPd6jkn3bD//N3IoMr5aRXrW6RSMJQAZbtcvqnqvc+EZVbh9mx0BRetD+
      zJedsVnMRo9ICVluezxCkXiz6+ua65LuFVt+TAQkZvbGcP8BgKlaYBzABg+1066I
      lAraNFkCgYEA9P5nmm55DCtIMp/Lf8OVbtOGufL2653auDIIfUzSmHkQrno+QWb4
      7VUAFPHuJmCvFrtU9BI2j8TM1zSF14jKJm95FGvntbofbwUfqYnBO5gZt7BWCU95
      ezsbViDPwLTfOpFfnTyytivGgTUm1qRtFfvo5x+vpT5HQ4SLCtalIuUCgYEAxrGB
      /30EE2r8ofQePMEptH3XVggDPCNmkYZcNGGbd+0XeFV8eLxUgEQNmOk04wjjC07J
      1y4r/AKA6E67ovYuut5/+mlGGJoO1Azzv0LYZgFAQ5hQEWoRVjMDuIpwDzpP6hbN
      emKVoIR+JYYA9i14vArWJkotg1cxx9JEmNewIWcCgYA2Xn7/dqTGXpSXJ38xy2XO
      QoMToSfLAi0X04Kuy+2wiK17CwXl3cRAZyyteUMwoSQ6FzizMZeKMFKFL9LEEkdK
      YFKuhYPWgIeZS7nLFhcb8pVCfo+ZYVnET0mxw3ZXfcxMYxak/mNqqixTYEhOOg87
      Ybw+DnocYcXO5gs1TI05QQKBgEujxb5yZDvULcqluWEdk/ffNDvPHxQk0eYyhSV3
      xwy3mIi52oHICE8wGREOLpEDkBN88f/V1u7AMTy+xFW8bHu9OnEk5Id3FpAJQj2c
      f+8NKN7SvCB1BZaQIyl8oj5Zz5RpC948a4PJDJDSW8lb9Ct54J6A/KSUbCIK3Qxm
      h+mfAoGACxhnZau8GEurty9YsoJx1kG/joj7BqPzJ16sjheVuYbrjsYhcQ66UigH
      5/H6HLLt87zE/3VPEqcCjtBz2M0iq1Z8eM0+j//9PkvfSDhQkDYHpzE+oVgTYFZK
      7kqkjiqg6jehH0dMVW9d3lVbaMGri0bF7KFn8+5byhDuMUSw4j4=
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart